body {
    font-family: 'Kumbh Sans', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: white;
}

.logo {
    float: left;
}

main{
 flex:1 0 auto;
}

footer{

}